*{
  margin: 0;
  padding: 0;
}

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #000;
  color: #fff;
  overflow: hidden;
}

/* Smooth scrolling for the entire app */
html {
  scroll-behavior: smooth;
}

/* Custom Scrollbar Styling */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #1e1e20;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #6b21a8; /* Purple scrollbar */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #9333ea;
}
